# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Google api keys / tokens
google_service.json

# ignore everything in data/
data/*
# keep the placeholder so the folder stays in the repo
!data/.gitkeep



# Environment Variables
.env

/venv

# Config Json File
config.json

#Ignore .zip files
.zip

# ignore normalize file
normalize.py

# ignore verified user data json
verified_user_data.json

#Ignore JSON file filled with all server member's data
verified_accounts.json
user_data.json
guild_cache.json

# removes the test file
/commands/test.py
/commands/test_2.py
/commands/test_3.py
./assets/outputs/*

__pycache__/

.idea
.vscode